index.astro

---
import Escenario from '../components/Escenario.jsx';
---

<html lang="es">
	<head>
		<title>Carta Animada</title>
		<style>
			body { margin: 0; padding: 0; }
		</style>
	</head>
	<body>
		<Escenario client:load />
	</body>
</html>